# Server configurations

# Server's port to listen to
PORT

# Database Configurations
# This project is using PostgreSQL for the database
# Database configurations must match with one in the .env configurations for docker compose(If you're running this locally)

# Host server (default to "localhost" if you're not sure)
DB_HOST
# Port PostgreSQL (default to 3001)
DB_PORT
# PostgreSQL superuser
DB_USER
# PostgreSQL password
DB_PASS
# Database name
DB_NAME

# Cache COnfigurations
# This project is using Redis to implement caching mechanism
# Caching configurations must match with one in the .env configurations for docker compose(If you're running this locally)

# Cache Host(default to localhost if not sure)
CACHE_HOST
# Cache Port(default to 3002 if not sure)
CACHE_PORT
# Cache Password
CACHE_PASS